*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(./Fonts/poppins-Medium.ttf);
}

.main{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    font-family: poppins;
}

.sidebar{
    width: 260px;
    height: 100vh;
    background-color: #333;
    color:#fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .6s ease;
}

.sidebar .uil{
    font-size: 22px;
}

/* top row started */
.top-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    white-space: nowrap;
    transition: all .5s ease;
}

.logo p{
    margin-left: 6px;
    font-size: 18px;
}

.top-row .hamburger{
    cursor: pointer;
}

.top-row .uil{
     font-size: 26px;
}

/* middle row started */

.middle-row{
    width: 100%;
    color: #fff;
}

.middle-row li{
    list-style: none;
}

.middle-row li a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: #fff;
    list-style: none;
    text-decoration: none;
    /* background-color: #fff; */
    border-radius: 10px;
    /* color: #333; */
    padding: 14px;
    transition: all .5s ease
}

.middle-row .links a:hover{
    background-color: #fff;
    color: #333
}

.middle-row li a p{
    margin-left: 12px;
    transition: all .5s ease;
}

.middle-row .search-bar{
    background-color: rgba(255, 255, 255, 0.236);
    border-radius: 10px;
}


.middle-row .search-bar input{
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
    color: #fff;
    font-size: 17px;
}

::placeholder{
    color: #fff;

}



/* botton row started */

.botton-row{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.236);
    border-radius: 10px;
    padding: 0 12px;
}


.botton-row .uil-setting{
    cursor: pointer
}

.botton-row .uil{
    font-size: 26px;
}



/* Active sidebar css */

.active{
    width: 80px;
    padding: 20px 15px;
}

.active .top-row{
    justify-content: center;
}

.active .top-row .logo{
    display: none;
    transition: all .5s ease;
}


.active .middle-row li a p{
    display: none;
}

.active .middle-row li a{
    justify-content: center;
    padding: 0 10px;
}